img{
    width: 80%;
    height: 400px;
    margin-right: 1%;
    border-radius: 4px;
}

video{
    width: 80%;
    height: 400px;
    margin-right: 1%;
    border-radius: 4px;
}

.Image_shows{
    text-align: center;
    margin: 20px auto;
    height: 1000px;  
    overflow: hidden;
}

h3{
    text-align: center;
    margin: 20px auto;
}

button{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1A1A1A;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}